@use 'colors' as *;

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $real-black;
  color: $real-white;
  background-size: cover;
}

h1, p {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.home-container {
  padding-top: 80px; /* 고정 헤더 높이만큼 */
}

.main-content {
  @apply p-0 bg-real-black;
}
