.fixed-header {
    @apply p-2 m-auto;
    z-index: 1000;
  }

.header-image {
    max-width: 48px; // Adjust size as needed
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards 1s; // 1s delay before fading in
    transform: translateY(20px);
}
  
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.onboarding-chat-container {
    @apply h-dvh w-full md:w-auto;
}

.chat-box {
    @apply flex flex-col h-dvh m-4;
}
.chat-message {
    @apply gap-y-4 flex flex-col w-4/5;
}
.chat-bubble {
    @apply text-xl bg-real-white text-real-black rounded-b-2xl rounded-tr-2xl p-3 w-fit break-keep fade-in;
}

.input-box {
    @apply flex fade-in;
}

.splash-screen {
    position: relative;
    height: 100vh; /* 전체 화면 높이를 차지 */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 애니메이션과 버튼을 상하단에 배치 */
    align-items: center;
    padding: 20px;
  }

.splash-image {
    @apply object-scale-down max-h-96 m-auto;
}

.logout-button {
    @apply bg-transparent text-sm text-grey-999 h-8 px-2 py-0 underline;
}

.onboarding-char-count {
    position: absolute;
    bottom: -1.5rem;
    right: 0.5rem;
    @apply text-grey-999 text-sm;
}

.splash-animation {
    flex-grow: 1; /* 애니메이션이 가능한 한 공간을 차지 */
    position: relative;
    max-height: 100vh;
    width: 100%; /* 너비는 100%로 설정 */
    object-fit: contain; /* 애니메이션 비율 유지 */
    bottom: 24px;
    animation-duration: 8s;
    animation-name: splash-appear;
  }
  
@keyframes splash-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.splash-screen button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 0px; /* 버튼을 하단에 고정 */
  }